D:\Projects\Referee\AutonomousReferee\docs\Architecture\figures
D:\Projects\Referee\AutonomousReferee\src\.ipynb_checkpoints
D:\Projects\Referee\AutonomousReferee\docs\Architecture\Extendability.docx
src/data_collection/.ipynb_checkpoints/
__/__*.mkv
__/__*.mp4


