docs/Architecture/figures
src/.ipynb_checkpoints
docs/Architecture/Extendability.docx
src/data_collection/.ipynb_checkpoints/
src/data_collection/*
docs/Architecture/Extendibility.docx
docs/Architecture/Integration_Plan.xlsx
docs/FeasibilityAnalysis/Turtle_feasability.pptx

__/__*.mkv
__/__*.mp4
